{#
Ten widok pozwala na akceptację jednej z przedstawionych ofert lub diagnozy.
- Jeśli mam tylko oferty - prezentujemy je pozwalając na akceptację  jednej z nich
- jeśli mam tylko diagnozę - prezentuję ją pozwalając na akceptację
- jeśli mam diagnozę i oferty wówczas pokazują tylko oferty - natomiast diagnozę dokładam jako dodatkowy element każdej z ofert
#}

{% if repair.status.requireCustomerAccept %}
    {% if repair.offers %}
        {% for offer in repair.offers %}
            {% if (offer.accepted is null) or offer.accepted %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>{{ t(_self, 'offer') }} {{ offer.number }} </h3>
                            </div>
                            <div class="col-md-2">
                                {% if repair.status.requireCustomerAccept and (offer.accepted is null) %}
                                    <a href="{{ path('token_repair_accept_offer', {offer_id: offer.ID}) }}"
                                       class="btn btn-success" data-color="success"
                                       data-confirm="{{ t(_self, 'accept_confirm_offer', {amount: (offer.priceGross | format_currency(currency)), offer_number: offer.number }) }}"
                                       data-method="put"
                                       rel="nofollow">{{ t(_self, 'accept_offer') }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <h3><small>{{ offer.title }}</small></h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-md-5">{{ t(_self, 'description') }}</th>
                            <th>{{ t(_self, 'price_net') }} </th>
                            <th>{{ t(_self, 'price_gross') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for offerItem in offer.items %}
                            <tr>
                                <td class="col-md-5">{{ offerItem.description | nl2br }}</td>
                                <td>{{ offerItem.priceNet | format_currency(currency) }}</td>
                                <td>{{ offerItem.priceGross | format_currency(currency) }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="col-md-5"></td>
                            <td><strong>{{ offer.priceNet | format_currency(currency) }}</strong></td>
                            <td class="danger"><strong>{{ offer.priceGross | format_currency(currency) }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
        {% if repair.status.requireCustomerAccept %}
            <div class="panel panel-danger">
                <div class="panel-body">
                    <a href="{{ path('token_repair_reject') }}" class="btn btn-danger"
                       data-color="danger"
                       data-confirm="{{ t(_self, 'reject_confirm_html') }}"
                       data-method="put"
                       rel="nofollow">{{ t(_self, 'reject_all') }}</a>
                </div>
            </div>
        {% endif %}

    {% elseif repair.status.diagnosed %}

        <div class="panel {{ repair.status.requireCustomerAccept ? 'panel-danger' : 'panel-success' }}">
            <div class="panel-heading">{{ t(_self, 'title') }}</div>
            <div class="panel-body">
                <p>
                    <b>{{ t(_self, 'price_estimated') }}</b>
                    {{ repair.costs.estimatedGross | format_currency(currency) }}
                <div class="btn-group">
                    <a href="{{ path('token_repair_reject') }}" class="btn btn-danger"
                       data-color="danger"
                       data-confirm="{{ t(_self, 'reject_confirm_html') }}"
                       data-method="put"
                       rel="nofollow">{{ t(_self, 'reject') }}</a>
                    <a href="{{ path('token_repair_accept') }}" class="btn btn-success"
                       data-color="success"
                       data-confirm="{{ t(_self, 'accept_confirm', {amount: repair.costs.estimatedGross | format_currency(currency)}) }}"
                       data-method="put"
                       rel="nofollow">{{ t(_self, 'accept') }}</a>
                </div>
            </div>
        </div>

    {% endif %}
{% endif %}