{% if repair.files %}
  <div class="card my-2">
    <div class="card-header">
      <span class="glyphicon glyphicon-file icon-margin pull-right"></span>
      {{ t(_self, 'title') }}
    </div>
    <div class="card-body">
      {% for files_group in (repair.files | group_files) %}
        <div class="card-group">
          {% for file in files_group %}
            <div class="card">
              {% if file %}
                {% if file.image %}
                  <a href="{{ file.url }}"><img src="{{ file.thumbUrl }}" class="card-img-top img-thumbnail"></a>
                {% else %}
                  <a href="{{ file.url }}" class="text-sm-center">{{ t(_self, 'download') }}</a>
                {% endif %}
                <div class="card-body"><p class="card-text">{{ file.publicRemarks }}</p></div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
