<div class="card">
    <div class="card-header">
        {{ t(_self, 'title', {'number': payment.number}) }}
    </div>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <td class="column-definition text-nowrap">{{ t(_self, 'payment_receivier') }}</td>
            <td>
                <div class="clearfix">
                    {% if payment.serviceSupplier.avatar %}
                        <img class="pull-left" src="{{ payment.serviceSupplier.avatar.url }}"
                             alt="{{ payment.serviceSupplier.displayName }}">
                    {% endif %}
                    <div class="pull-left">
                        <strong>{{ payment.serviceSupplier.displayName }}</strong>
                        <br>
                        {% if payment.serviceSupplier.address %}
                            {{ payment.serviceSupplier.address.street }} {{ payment.serviceSupplier.address.building }}, {{ payment.serviceSupplier.address.postalCode }} {{ payment.serviceSupplier.address.city }}
                            <br>
                        {% endif %}
                        {% if payment.serviceSupplier.phone %}
                            tel.:
                            {{ payment.serviceSupplier.phone.formatted }}
                            <br>
                        {% endif %}
                        {% if payment.serviceSupplier.email %}
                            <a href="mailto:{{ payment.serviceSupplier.email }}">{{ payment.serviceSupplier.email }}</a>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="column-definition text-nowrap">{{ t(_self, 'amount_to_pay') }}</td>
            <td>{{ payment.amountToPay | format_currency(payment.currency) }}</td>
        </tr>
        <tr>
            <td class="column-definition text-nowrap">{{ t(_self, 'amount') }}</td>
            <td>{{ payment.amount | format_currency(payment.currency) }}</td>
        </tr>
        <tr>
            <td class="column-definition text-nowrap">{{ t(_self, 'status') }}</td>
            <td>{{ t(_self, 'status_name', payment.status) }}</td>
        </tr>
        {% if payment.description %}
            <tr>
                <td class="column-definition text-nowrap">{{ t(_self, 'description') }}</td>
                <td>{{ payment.description | nl2br }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="column-definition">{{ t(_self, 'items') }}</td>
            <td>
                {% for item in payment.items %}
                    {% if item.secretToken and item.secretToken.subjectType == 'REPAIR' %}
                        <a href="{{ path('token', {token: item.secretToken.token}) }}">{{ item.description }}</a>
                    {% else %}
                        {{ item.description }}
                    {% endif %} - {{ item.amount | format_currency(payment.currency) }}
                    <br>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
