<div class="card my-2">
  <div class="card-header">
    {{ t(_self, 'title', {'number': payment.number}) }}
  </div>

  <table class="table table-bordered card-table">
    <tbody>
    <tr>
      <td class="column-definition">{{ t(_self, 'payment_receiver') }}</td>
      <td>
        {% include 'shared/service_supplier_row.html.twig' with {'serviceSupplier': payment.serviceSupplier} %}
      </td>
    </tr>
    <tr>
      <td class="column-definition text-nowrap">{{ t(_self, 'amount_to_pay') }}</td>
      <td>{{ payment.amountToPay | format_currency(payment.currency) }}</td>
    </tr>
    <tr>
      <td class="column-definition text-nowrap">{{ t(_self, 'amount') }}</td>
      <td>{{ payment.amount | format_currency(payment.currency) }}</td>
    </tr>
    <tr>
      <td class="column-definition text-nowrap">{{ t(_self, 'status') }}</td>
      <td>{{ t(_self, 'status_name', payment.status) }}</td>
    </tr>
    {% if payment.description %}
      <tr>
        <td class="column-definition text-nowrap">{{ t(_self, 'description') }}</td>
        <td>{{ payment.description | nl2br }}</td>
      </tr>
    {% endif %}
    <tr>
      <td class="column-definition">{{ t(_self, 'items') }}</td>
      <td>
        {% for item in payment.items %}
          {% if item.secretToken and item.secretToken.subjectType == 'REPAIR' %}
            <a href="{{ path('token', {token: item.secretToken.token}) }}">{{ item.description }}</a>
          {% else %}
            {{ item.description }}
          {% endif %} - {{ item.amount | format_currency(payment.currency) }}
          <br>
        {% endfor %}
      </td>
    </tr>
    </tbody>
  </table>
</div>
