<div class="row">

  <div class="col col-lg-8">
    {% if configuration.dashboardMessage %}
      <div class="bg-light p-5 rounded mt-3">
        {{ configuration.dashboardMessage | raw }}
      </div>
    {% endif %}
  </div>

  <div class="col col-lg-3">
    <div class="d-grid gap-2 mt-3">
      {% if configuration.panelDevices and configuration.panelDevicesRegistration %}
        <a class="btn btn-primary btn-lg" href="{{ path('new_device') }}">{{ t('devices.create_device') }}</a>
      {% endif %}
      {% if configuration.panelRepairs %}
        <a class="btn btn-primary btn-lg" href="{{ path('new_repair') }}">{{ t('repairs.create_repair') }}</a>
      {% endif %}
      {% if configuration.panelTickets %}
        <a class="btn btn-primary btn-lg" href="{{ path('new_ticket') }}">{{ t('tickets.create_ticket') }}</a>
      {% endif %}
      {% if configuration.panelCommunication %}
        <a class="btn btn-primary btn-lg" href="{{ path('new_message') }}">{{ t('messages.create_message') }}</a>
      {% endif %}
    </div>
  </div>
</div>