<div class="btn-group" role="group">
  <a href="{{ path('devices') }}" class="btn btn-secondary btn-lg">{{ t(_self, 'close') }}</a>

  {% if configuration.panelRepairs %}
    <a href="{{ path('new_repair', {device: device.ID}) }}"
       class="d-none d-md-none d-lg-block btn btn-primary btn-lg {{ device.isVerified ? '' : 'disabled' }}">{{ t(_self, 'new_repair') }}</a>
    <a href="{{ path('new_repair', {device: device.ID}) }}"
       class="d-lg-none btn btn-primary btn-lg {{ device.isVerified ? '' : 'disabled' }}">{{ t(_self, 'new_repair_s') }}</a>
  {% endif %}
  {% if configuration.panelTickets %}
    <a href="{{ path('new_ticket', {device: device.ID}) }}"
       class="d-none d-md-none d-lg-block btn btn-primary btn-lg {{ device.isVerified ? '' : 'disabled' }}">{{ t(_self, 'new_ticket') }}</a>
    <a href="{{ path('new_ticket', {device: device.ID}) }}"
       class="d-lg-none btn btn-primary btn-lg {{ device.isVerified ? '' : 'disabled' }}">{{ t(_self, 'new_ticket_s') }}</a>
  {% endif %}
</div>

{% if not device.isVerified %}
  <div class="card text-danger border-danger mt-3 mb-3">
    <div class="card-body">
      {{ t(_self, 'not_verified_unable_to_perform') }}
    </div>
  </div>
{% endif %}

<div class="panel-spaced bg-light rounded">
  <div class="row">
    <div class="col-md-6">
      <div class="card my-2">
        <div class="card-header">
          <span class="glyphicon glyphicon-info-sign icon-margin pull-right"></span>
          {{ t(_self, 'panel_info.title') }}
        </div>
        <table class="table table-bordered card-table">
          <tbody>
          <tr>
            <td class="column-definition">{{ t(_self, 'service_supplier') }}</td>
            <td>
              {% include 'shared/service_supplier_row.html.twig' with {'serviceSupplier': device.serviceSupplier} %}
            </td>
          </tr>

          {% if device.address %}
            <tr>
              <td class="column-definition">{{ t(_self, 'address') }}</td>
              <td>
                {{ device.address.street }} {{ device.address.building }},
                {{ device.address.postalCode }} {{ device.address.city }}
              </td>
            </tr>
          {% endif %}
          <tr>
            <td class="column-definition">{{ t(_self, 'number') }}</td>
            <td>
              {{ device.number }}
              {% if not device.isVerified %}
                <i class="fas fa-eye-slash text-tooltip" title="{{ t(_self, 'not_verified') }}"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td class="column-definition">{{ t(_self, 'type') }}</td>
            <td>{{ device.type.name }}</td>
          </tr>

          <tr>
            <td class="column-definition">{{ t(_self, 'vendor') }}</td>
            <td>{{ device.vendor }}</td>
          </tr>

          <tr>
            <td class="column-definition">{{ t(_self, 'model') }}</td>
            <td>{{ device.model }}</td>
          </tr>

          <tr>
            <td class="column-definition">{{ t(_self, 'serial') }}</td>
            <td>{{ device.serial }}</td>
          </tr>

          {% if device.copyOfSaleDocument %}
            <tr>
              <td class="column-definition">{{ t(_self, 'copy_of_sale_document') }}</td>
              <td>
                <div class="card">
                  {% if device.copyOfSaleDocument.image %}
                    <a href="{{ device.copyOfSaleDocument.url }}"><img src="{{ device.copyOfSaleDocument.thumbUrl }}"
                                                                       class="card-img-top img-thumbnail"></a>
                  {% else %}
                    <a href="{{ device.copyOfSaleDocument.url }}" class="text-sm-center">
                      <i class="fas fa-file"></i>
                    </a>
                  {% endif %}
                </div>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-2">
        <div class="card-header">
          <span class="glyphicon glyphicon-info-sign icon-margin pull-right"></span>
          {{ t(_self, 'panel_custom_fields.title') }}
        </div>
        <table class="table table-bordered card-table">
          <tbody>
          {% for field in device.customFields %}
            <tr>
              <td class="column-definition">{{ field.field.name }}</td>
              <td>{{ custom_form_field_value(field.value, field.field.type) }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% include 'shared/files.html.twig' with {'files': device.files, 'title': t(_self, 'panel_files.title')} %}
    </div>
  </div>
</div>

{% if repairs.items is not empty %}
  <div class="panel-spaced bg-light rounded">
    {{ paginator(repairs.pages, 'repairs_page') }}
    {% include 'repairs/list.html.twig' %}
    {{ paginator(repairs.pages, 'repairs_page') }}
  </div>
{% endif %}

{% if tickets.items is not empty %}
  <div class="panel-spaced bg-light rounded">
    {{ paginator(tickets.pages, 'tickets_page') }}
    {% include 'tickets/list.html.twig' %}
    {{ paginator(tickets.pages, 'tickets_page') }}
  </div>
{% endif %}