<form method="post" action="{{ path('create_device') }}">
  <div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>
  </div>

  {{ form_errors(_self, errors) }}

  <div class="bg-light p-5 rounded mt-3">
    <div class="mb-3">
      {{ form_field({type: 'selectpicker', argument: 'device.type', caption: t(_self, 'type'), options: dictionary_select_options, include_blank: true}, form_params, errors) }}
    </div>

    {% if not configuration.orderDictModel %}
      <div class="mb-3">
        {{ form_field({type: 'datalist', argument: 'device.vendor', caption: t(_self, 'vendor'), data_url: path('autocomplete_vendor')}, form_params, errors) }}
      </div>
      <div class="mb-3">
        {{ form_field({type: 'datalist', argument: 'device.model', caption: t(_self, 'model'), data_url: path('autocomplete_model')}, form_params, errors) }}
      </div>
    {% endif %}

    <div class="mb-3">
      {{ form_field({type: 'text', argument: 'device.serial', caption: t(_self, 'serial')}, form_params, errors) }}
    </div>

    {% for customField in customFieldsDefinitions %}
      {% if customField.concern %}
        {% set class = 'undisplayed' %}
        {% set data_type_id = customField.concern.ID %}
      {% else %}
        {% set class = '' %}
        {% set data_type_id = '' %}
      {% endif %}
      <div class="mb-3 custom-field {{ class }}" data-type-id="{{ data_type_id }}">
        {{ custom_form_field(customField, {argument: "device.customFields.#{loop.index0}"}, form_params, errors) }}
      </div>
    {% endfor %}

    <label class="form-label">{{ t(_self, 'copy_of_sale_document') }}</label>
    <div class="mb-3 clearfix" id="create_device_file_uploader">
      {% for temporary_file in temporary_files %}
        <div class="undisplayed temporary-file-json" data-ID="{{ temporary_file }}"></div>
      {% endfor %}
    </div>

    <div class="row">
      <label class="form-label">{{ t(_self, 'address') }}</label>
      <div class="col-md-4 mb-3">
        {{ form_field({type: 'text', argument: 'address.street', caption: t(_self, 'street')}, form_params, errors) }}
      </div>
      <div class="col-md-1 mb-3">
        {{ form_field({type: 'text', argument: 'address.building', caption: t(_self, 'building')}, form_params, errors) }}
      </div>
      <div class="col-md-2 mb-3">
        {{ form_field({type: 'text', argument: 'address.postalCode', caption: t(_self, 'postalCode')}, form_params, errors) }}
      </div>
      <div class="col-md-3 mb-3">
        {{ form_field({type: 'text', argument: 'address.city', caption: t(_self, 'city')}, form_params, errors) }}
      </div>
      <div class="col-md-2 mb-3">
        {{ form_field({type: 'countrypicker', argument: 'address.countryIso', caption: t(_self, 'country'), value: locale_ISO()}, form_params, errors) }}
      </div>
    </div>

  </div>

  <div class="clearfix">
    <div class="mb-3 float-end form-buttons">
      <a href="{{ path('devices') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
      <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
    </div>
  </div>
</form>