<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/filepond.min.css"/>
    <link rel="stylesheet" href="/assets/filepond-plugin-image-preview.min.css"/>
    <link rel="stylesheet" href="/assets/DateTimePicker.min.css"/>
    <link rel="stylesheet" href="/assets/fa-all.min.css"/>
    <link rel="stylesheet" href="/assets/layout.css"/>
</head>
<body>

<script>
  var application_js_options = {
    locale: "{{ locale_ISO|lower }}",
    dpTranslations: {{ t('dp')|json_encode()|raw }}
  }
</script>

{% if me is defined %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('dashboard') }}">{{ subscriber.displayName }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if configuration.caPanelRepairs %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ path('repairs') }}">{{ t(_self, 'repairs') }}</a>
                        </li>
                    {% endif %}
                    {% if configuration.caPanelTickets %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tickets') }}">{{ t(_self, 'tickets') }}</a>
                        </li>
                    {% endif %}
                    {% if configuration.caPanelCommunication %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('messages') }}">{{ t(_self, 'messages') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">{{ me.customer.displayName }} </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#">{{ t(_self, 'me_edit') }}</a></li>
                        <li><a class="dropdown-item"
                               href="{{ path('destroy_session') }}">{{ t(_self, 'me_logout') }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="m-2"></div>

{% endif %}

{% if app.flash.anyErrors() %}
    <div class="container">
        <div class="alert alert-danger p-3 rounded mt-3 text-center" role="alert">
            {% for alert in app.flash.getErrors() %}
                <p>{{ alert }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if app.flash.anyMessages() %}
    <div class="container">
        <div class="alert alert-success p-3 rounded mt-3 text-center" role="alert">
            {% for alert in app.flash.getMessages() %}
                <p>{{ alert }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

<main class="container">
    {{ innerHTML | raw }}
</main>

<hr>

<div class="container">
    <footer>
        <p class="pull-left">
            <small>
                {{ subscriber.displayName }}
                {% if subscriber.address %}
                    <br>
                    {{ subscriber.address.street }} {{ subscriber.address.building }}, {{ subscriber.address.postalCode }} {{ subscriber.address.city }}
                {% endif %}
                {% if subscriber.taxId %}
                    <br>
                    NIP {{ subscriber.taxId }}
                {% endif %}
            </small>
        </p>
        <ul class="list-unstyled pull-right text-right">
            {% for agreement in agreements %}
                <li>
                    <small>
                        <a href="{{ path('agreement', {id: agreement.ID}) }}"
                           data-title="{{ agreement.description }}">{{ agreement.description }}</a>
                    </small>
                </li>
            {% endfor %}
        </ul>
    </footer>
</div>

<div class="hidden-print" id="modal-popups-container"></div>
<div id="dtBox"></div>

<div class="alert text-center cookiealert" role="alert">
    <h6>
        {{ t(_self, 'cookie_info_html') }}
        <button type="button" class="btn btn-success btn-sm acceptcookies">
            {{ t(_self, 'cookie_accept') }}
        </button>
    </h6>
</div>

<script src="/assets/lodash.min.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.bundle.min.js"></script>

<script src="/assets/cookiealert.js"></script>
<script src="/assets/purl.js"></script>
<script src="/assets/filepond.min.js"></script>
<script src="/assets/filepond-plugin-image-preview.min.js"></script>
<script src="/assets/DateTimePicker.min.js"></script>

<script src="/assets/layout.js"></script>
{% if js_files is defined %}
    {% for js_file in js_files %}
        <script src="{{ js_file }}"></script>
    {% endfor %}
{% endif %}

</body>
</html>
