<div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'login_description') }}</p>

    <form method="post" action="{{ path('new_session') }}">
        <div class="row">
            <div class="col-4">
                {{ form_field({type: 'text', argument: 'session_credentials.login', caption: t(_self, 'login')}, formParams, []) }}
                <br>
                {{ form_field({type: 'password', argument: 'session_credentials.password', caption: t(_self, 'password')}, formParams, []) }}
                <br>
                <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
                <br>
                <a href="{{ path('new_password_reset') }}">Zapomniałem hasła.</a>
            </div>
        </div>
    </form>
</div>

<div class="bg-light p-5 rounded mt-3">
    <p class="lead">{{ t(_self, 'signup_description') }}</p>
    <a href="{{ path('new_signup') }}" class="btn btn-primary mb-3">{{ t(_self, 'signup') }}</a>
</div>