<form method="post" action="{{ path('create_message') }}">
  <div class="panel-spaced bg-light rounded">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>
  </div>

  {{ form_errors(_self, errors) }}

  <div class="panel-spaced bg-light rounded">
    <div class="mb-3">
      {{ form_field({type: 'text', argument: 'message.subject', caption: t(_self, 'subject')}, form_params, errors) }}
    </div>

    <div class="mb-3">
      {{ form_field({type: 'textarea', argument: 'message.content', caption: t(_self, 'content')}, form_params, errors) }}
    </div>
  </div>

  <div class="clearfix">
    <div class="mb-3 float-end form-buttons">
      <a href="{{ path('messages') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
      <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
    </div>
  </div>
</form>