<div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>

    <form method="post" action="{{ path('create_message') }}">
        <div class="mb-3">
            {{ form_field({type: 'text', argument: 'message.subject', caption: t(_self, 'subject')}, form_params, errors) }}
        </div>

        <div class="mb-3">
            {{ form_field({type: 'textarea', argument: 'message.content', caption: t(_self, 'content')}, form_params, errors) }}
        </div>

        <div class="mb-3 form-buttons">
            <a href="{{ path('messages') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
            <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
        </div>
    </form>
</div>