<div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>

    <form method="post" action="{{ path('set_password') }}">
        {{ form_field({type: 'hidden', argument: 'resetToken', value: token}, formParams, []) }}

        <div class="row">
            <div class="col-sm-12 col-md-4">
                {{ form_field({type: 'password', argument: 'password', caption: t(_self, 'password'), tr_errors: "#{_self}.errors", capture_argument_errors: ['resetToken']}, formParams, errors) }}
                <br>
                {{ form_field({type: 'password', argument: 'passwordConfirmation', caption: t(_self, 'password_confirmation'), tr_errors: "#{_self}.errors"}, formParams, errors) }}
                <br>
                <a href="{{ path('dashboard') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
                <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
            </div>
        </div>
    </form>
</div>