<div class="panel-spaced bg-light rounded">
  <h1>{{ t(_self, 'title') }}</h1>
  <p class="lead">{{ t(_self, 'description') }}</p>

  {{ form_errors(_self, errors) }}

  <form method="post" action="{{ path('new_password_reset') }}" id="password_reset_new_form">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        {{ form_field({type: 'text', argument: 'loginOrEmail', caption: t(_self, 'login_or_email'), tr_errors: "#{_self}.errors"}, formParams, errors) }}
        <br>
        <a href="{{ path('dashboard') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
        <button type="button"
                data-url="{{ path('new_session_resolve_login') }}"
                data-tr-NOT_FOUND="{{ t('login_new.login_not_found') }}"
                data-tr-DELETED="{{ t('login_new.subscriber_deleted') }}"
                data-tr-NOT_ACTIVATED="{{ t('login_new.login_not_activated') }}"
                data-tr-DISABLED="{{ t('login_new.login_disabled') }}"
                data-tr-INTERNET_ACCESS_NOT_ENABLED="{{ t('login_new.internet_access_not_enabled') }}"
                id="password-reset-new-submit"
                class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
      </div>
    </div>
  </form>
</div>
