<div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>

    <form method="post" action="{{ path('new_password_reset') }}">
        <div class="row">
            <div class="col-4">
                {{ form_field({type: 'text', argument: 'loginOrEmail', caption: t(_self, 'login_or_email'), tr_errors: "#{_self}.errors"}, formParams, errors) }}
                <br>
                <a href="{{ path('dashboard') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
                <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
            </div>
        </div>
    </form>
</div>