<form method="post" action="{{ path('create_repair') }}">
  <div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>

    {{ form_errors(_self, errors) }}

    <div class="mb-3">
      {{ form_field({type: 'select', argument: 'repair.type', caption: t(_self, 'type'), options: dictionary_select_options, include_blank: true}, form_params, errors) }}
    </div>

    {% if not configuration.orderDictModel %}
      <div class="mb-3">
        {{ form_field({type: 'datalist', argument: 'repair.vendor', caption: t(_self, 'vendor'), data_url: path('autocomplete_vendor')}, form_params, errors) }}
      </div>

      <div class="mb-3">
        {{ form_field({type: 'datalist', argument: 'repair.model', caption: t(_self, 'model'), data_url: path('autocomplete_model')}, form_params, errors) }}
      </div>
    {% endif %}

    <div class="mb-3">
      {{ form_field({type: 'text', argument: 'repair.serial', caption: t(_self, 'serial')}, form_params, errors) }}
    </div>

    <div class="mb-3">
      {{ form_field({type: 'switch', argument: "repair.warranty", caption: t(_self, 'warranty'), value: 1}, form_params, errors) }}
    </div>

    <div class="undisplayed" id="create_repair_warranty_attributes">
      <div class="mb-3">
        {{ form_field({type: 'date', argument: 'repair.warrantyPurchaseDate', caption: t(_self, 'warrantyPurchaseDate')}, form_params, errors) }}
      </div>

      <div class="mb-3">
        {{ form_field({type: 'text', argument: 'repair.warrantyPurchaseDocument', caption: t(_self, 'warrantyPurchaseDocument')}, form_params, errors) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_field({type: 'textarea', argument: 'repair.issue', caption: t(_self, 'issue')}, form_params, errors) }}
    </div>

    {% for customField in customFieldsDefinitions %}
      {% if customField.concern %}
        {% set class = 'undisplayed' %}
        {% set data_type_id = customField.concern.ID %}
      {% else %}
        {% set class = '' %}
        {% set data_type_id = '' %}
      {% endif %}
      <div class="mb-3 custom-field {{ class }}" data-type-id="{{ data_type_id }}">
        {{ custom_form_field(customField, {argument: "repair.customFields.#{loop.index0}"}, form_params, errors) }}
      </div>
    {% endfor %}

    {% if transport_radio_options|length > 1 %}
      <div class="mb-3">
        {{ form_field({type: 'radios', argument: 'repair.delivery', options: transport_radio_options, value: constant('Serwisant\\SerwisantApi\\Types\\SchemaCustomer\\RepairTransportType::PARCEL'), caption: t(_self, 'delivery')}, form_params, errors) }}
      </div>
      <div class="mb-3">
        {{ form_field({type: 'radios', argument: 'repair.collection', options: transport_radio_options, value: constant('Serwisant\\SerwisantApi\\Types\\SchemaCustomer\\RepairTransportType::PARCEL'), caption: t(_self, 'collection')}, form_params, errors) }}
      </div>
    {% endif %}

    {% if addresses_radio_options is empty %}
      {{ form_field({type: 'hidden', argument: 'addresses.0.countryIso', value: locale_ISO()}, form_params, errors) }}
      <div class="row">
        <label class="form-label">{{ t(_self, 'returnAddress') }}</label>
        <div class="col-md-4 mb-3">
          {{ form_field({type: 'text', argument: 'addresses.0.street', caption: t(_self, 'street')}, form_params, errors) }}
        </div>
        <div class="col-md-1 mb-3">
          {{ form_field({type: 'text', argument: 'addresses.0.building', caption: t(_self, 'building')}, form_params, errors) }}
        </div>
        <div class="col-md-2 mb-3">
          {{ form_field({type: 'text', argument: 'addresses.0.postalCode', caption: t(_self, 'postalCode')}, form_params, errors) }}
        </div>
        <div class="col-md-4 mb-3">
          {{ form_field({type: 'text', argument: 'addresses.0.city', caption: t(_self, 'city'), postfix: locale_flag()}, form_params, errors) }}
        </div>
        <div class="col-md-1 mb-1">
          <img src="{{ locale_flag() }}" height="45" style="margin-top: 5px;">
        </div>
      </div>
    {% else %}
      <div class="mb-3">
        {{ form_field({type: 'radios', argument: 'repair.returnAddress', caption: t(_self, 'returnAddress'), options: addresses_radio_options, value: defaultReturnAddress}, form_params, errors) }}
      </div>
    {% endif %}

    {% if configuration.uploadFiles %}
      <div class="mb-3 clearfix" id="create_repair_file_uploader">
        {% for temporary_file in temporary_files %}
          <div class="undisplayed temporary-file-json" data-ID="{{ temporary_file }}"></div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="clearfix">
    <div class="mb-3 float-end form-buttons">
      <a href="{{ path('repairs') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
      <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
    </div>
  </div>
</form>