<a class="btn btn-primary" href="{{ path('new_repair') }}">{{ t(_self, 'create_repair') }}</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    {% for repair in repairs.items %}
    <tr>
        <th scope="row">{{ repair.rma }}</th>
        <td>{{ repair.displayName }}</td>
        <td>{{ repair.status.displayName }}</td>
        <td>
            <a href="{{ path('repair', {'id': repair.ID}) }}">{{ t(_self, 'details') }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{{ paginator(repairs.pages) }}