<div class="panel-spaced bg-light rounded">
  <h1>{{ t(_self, 'title') }}</h1>
  <p class="lead">{{ t(_self, 'description') }}</p>
</div>

{% if prompt_content %}
  <div class="panel-spaced bg-light rounded">
    {{ prompt_content | raw }}
  </div>
{% endif %}

<div class="clearfix">
  <div class="mb-3 float-end form-buttons">
    <a href="{{ path('repairs') }}" class="btn btn-primary mb-3">{{ t(_self, 'confirm') }}</a>
  </div>
</div>