<h1>{{ t(_self, 'title') }}</h1>
<p class="lead">{{ t(_self, 'description') }}</p>

<form method="post" action="{{ path('create_signup') }}">
    <div class="mb-3">
        <label for="customerType" class="form-label">{{ t(_self, 'type') }}</label>
        <select class="form-select" name="customer[type]" id="customerType">
            <option value="{{ constant('\\Serwisant\\SerwisantApi\\Types\\SchemaPublic\\CustomerType::PERSONAL') }}">{{ t(_self, 'type_personal') }}</option>
            <option value="{{ constant('\\Serwisant\\SerwisantApi\\Types\\SchemaPublic\\CustomerType::BUSINESS') }}">{{ t(_self, 'type_busness') }}</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="customerPerson" class="form-label">{{ t(_self, 'person') }}</label>
        <input type="text" {{ errors|has_error('customer.person', 'form-control')|raw }} id="customerPerson"
               name="customer[person]">
    </div>

    <div class="mb-3">
        <label for="customerCompanyName" class="form-label">{{ t(_self, 'company_name') }}</label>
        <input type="text" {{ errors|has_error('customer.companyName', 'form-control')|raw }} id="customerCompanyName"
               name="customer[companyName]">
    </div>

    <div class="mb-3">
        <label for="customerEmail" class="form-label">{{ t(_self, 'email') }}</label>
        <input type="text" {{ errors|has_error('customer.email', 'form-control')|raw }} id="customerEmail"
               name="customer[email]">
    </div>

    <div class="mb-3">
        <label for="customerLogin" class="form-label">{{ t(_self, 'login') }}</label>
        <input type="text" {{ errors|has_error('customer.login', 'form-control')|raw }} id="customerLogin"
               name="customer[login]">
    </div>

    <div class="mb-3">
        <label for="customerPassword" class="form-label">{{ t(_self, 'password') }}</label>
        <input type="password" {{ errors|has_error('customer.password', 'form-control')|raw }} id="customerPassword"
               name="customer[password]">
    </div>

    {% for agreement in agreements %}
        <div class="mb-3 form-check">
            <input type="checkbox" {{ errors|has_error('agreements.%i.accepted', 'form-check-input', loop.index0)|raw }}
                   id="customerAgreement_{{ agreement.ID }}"
                   name="agreements[][ID]" value="{{ agreement.ID }}">
            <label class="form-check-label" for="customerAgreement_{{ agreement.ID }}">{{ agreement.title }}</label>
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
</form>
