<div class="btn-group" role="group">
  <a href="{{ path('tickets') }}" class="btn btn-secondary btn-lg">{{ t(_self, 'close') }}</a>
  <a href="{{ path('ticket_print', {id: ticket.ID}) }}" class="btn btn-outline-dark btn-lg">
    <span class="fa fa-print"></span> {{ t(_self, 'print') }}
  </a>
</div>

<div class="bg-light p-5 rounded mt-3">
  <div class="pb-2">
    {% include 'shared/service_supplier_card.html.twig' with {'serviceSupplier': ticket.serviceSupplier, 'title': t(_self, 'introduction')} %}
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include 'ticket/panel_info.html.twig'  with {'canCreateLinks': false} %}
      {% include 'ticket/panel_payments.html.twig' %}
      {% include 'ticket/panel_custom_form_fields.html.twig' %}
    </div>
    <div class="col-md-6">
      {% include 'ticket/panel_status.html.twig' %}
      <div class="bd-callout bd-callout-info">
        {{ ticket.issue }}
      </div>
      {% include 'shared/files.html.twig' with {'files': ticket.files, 'title': t(_self, 'panel_files.title')} %}
    </div>
  </div>
</div>