<a class="btn btn-primary btn-lg" href="{{ path('new_ticket') }}">{{ t(_self, 'create_ticket') }}</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets.items %}
        <tr>
            <th scope="row">{{ ticket.number }}</th>
            <td>{{ ticket.priority.name }}</td>
            <td>{{ ticket.status.displayName }}</td>
            <td>@twitter</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ paginator(tickets.pages) }}