<form method="post" action="{{ path('create_ticket') }}">
  <div class="bg-light p-5 rounded mt-3">
    <h1>{{ t(_self, 'title') }}</h1>
    <p class="lead">{{ t(_self, 'description') }}</p>
  </div>

  {{ form_errors(_self, errors) }}

  <div class="bg-light p-5 rounded mt-3">

    {% if device %}
      {{ form_field({type: 'hidden', argument: 'device', value: device.ID}, form_params, errors) }}
      <div class="mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" placeholder="{{ t(_self, 'device') }}"
                 title="{{ t(_self, 'device') }}" disabled
                 value="{{ device.type.name }} {{ device.vendor }} {{ device.model }}">
          <label for="ticket_customFields_1_value" class="form-label">{{ t(_self, 'device') }}</label>
        </div>
      </div>
    {% endif %}

    {% if priorities_select_options|length > 1 %}
      <div class="mb-3">
        {{ form_field({type: 'selectpicker', argument: 'ticket.priority', caption: t(_self, 'priority'), options: priorities_select_options, include_blank: true}, form_params, errors) }}
      </div>
    {% else %}
      {{ form_field({type: 'hidden', argument: 'ticket.priority', value: priorities_select_options|keys|first}, form_params, errors) }}
    {% endif %}

    <div class="row">
      <div class="col-md-5 mb-3">
        {{ form_field({type: 'datetime', argument: 'ticket.startAt', caption: t(_self, 'startAt')}, form_params, errors) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_field({type: 'radios', argument: 'addressID', caption: t(_self, 'address'), options: addresses_radio_options, value: defaultAddress}, form_params, errors) }}
    </div>

    <div class="mb-3 address-other-container undisplayed">
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ form_field({type: 'text', argument: 'address.street', caption: t(_self, 'street')}, form_params, errors) }}
        </div>
        <div class="col-md-1 mb-3">
          {{ form_field({type: 'text', argument: 'address.building', caption: t(_self, 'building')}, form_params, errors) }}
        </div>
        <div class="col-md-2 mb-3">
          {{ form_field({type: 'text', argument: 'address.postalCode', caption: t(_self, 'postalCode')}, form_params, errors) }}
        </div>
        <div class="col-md-3 mb-3">
          {{ form_field({type: 'text', argument: 'address.city', caption: t(_self, 'city'), postfix: locale_flag()}, form_params, errors) }}
        </div>
        <div class="col-md-2 mb-3">
          {{ form_field({type: 'countrypicker', argument: 'address.countryIso', caption: t(_self, 'country'), value: locale_ISO()}, form_params, errors) }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      {{ form_field({type: 'textarea', argument: 'ticket.issue', caption: t(_self, 'issue')}, form_params, errors) }}
    </div>

    {% if configuration.uploadFiles %}
      <div class="mb-3 clearfix" id="create_ticket_file_uploader">
        {% for temporary_file in temporary_files %}
          <div class="undisplayed temporary-file-json" data-ID="{{ temporary_file }}"></div>
        {% endfor %}
      </div>
    {% endif %}

    {% for customField in customFieldsDefinitions %}
      {% if customField.concern %}
        {% set class = 'undisplayed' %}
        {% set data_type_id = customField.concern.ID %}
      {% else %}
        {% set class = '' %}
        {% set data_type_id = '' %}
      {% endif %}
      <div class="mb-3 custom-field {{ class }}" data-type-id="{{ data_type_id }}">
        {{ custom_form_field(customField, {argument: "ticket.customFields.#{loop.index0}"}, form_params, errors) }}
      </div>
    {% endfor %}
  </div>

  <div class="clearfix">
    <div class="mb-3 float-end form-buttons">
      <a href="{{ path('tickets') }}" class="btn btn-secondary mb-3">{{ t(_self, 'cancel') }}</a>
      <button type="submit" class="btn btn-primary mb-3">{{ t(_self, 'submit') }}</button>
    </div>
  </div>
</form>