<a class="btn btn-primary btn-lg" href="{{ path('new_ticket') }}">{{ t(_self, 'create_ticket') }}</a>

<div class="bg-light p-5 rounded mt-3">
  {% if tickets.items is empty %}
    <p class="lead">{{ t(_self, 'no_tickets') }}</p>
  {% else %}
    {{ paginator(tickets.pages) }}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">{{ t(_self, 'number') }}</th>
        <th scope="col">{{ t(_self, 'employee') }}</th>
        <th scope="col">{{ t(_self, 'type') }}</th>
        <th scope="col">{{ t(_self, 'status') }}</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for ticket in tickets.items %}
        <tr>
          <th scope="row">{{ ticket.number }}</th>
          <td>
            {% if ticket.employee %}
              {{ ticket.employee.displayName }}
            {% endif %}
          </td>
          <td>{{ ticket.priority.name }}</td>
          <td>{{ ticket_label(ticket) }}</td>
          <td>
            <a href="{{ path('ticket', {'id': ticket.ID}) }}">{{ t(_self, 'details') }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {{ paginator(tickets.pages) }}
  {% endif %}
</div>