<div class="card my-2">
  <div class="card-body row">
    <div class="col-lg-5 col-6">
      <h2>{{ title }}</h2>
      <br>
      <address>
        <strong>{{ serviceSupplier.displayName }}</strong>
        <br>
        {% if serviceSupplier.address %}
          {{ serviceSupplier.address.street }} {{ serviceSupplier.address.building }}, {{ serviceSupplier.address.postalCode }} {{ serviceSupplier.address.city }}
          <br>
        {% endif %}
        {% if serviceSupplier.phone %}
          <a href="tel:{{ serviceSupplier.phone.formatted }}">{{ serviceSupplier.phone.formatted }}</a>
          <br>
        {% endif %}
        {% if serviceSupplier.email %}
          <a href="mailto:{{ serviceSupplier.email }}">{{ serviceSupplier.email }}</a>
        {% endif %}
      </address>
    </div>

    {% if serviceSupplier.avatar %}
      <div class="col align-self-center">
        <img src="{{ serviceSupplier.avatar.url }}" alt="{{ serviceSupplier.displayName }}">
      </div>
    {% endif %}
  </div>
</div>