<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>{{ title }}</p>
        <address>
          <strong>{{ serviceSupplier.displayName }}</strong>
          </br>
          {% if serviceSupplier.address %}
            {{ serviceSupplier.address.street }} {{ serviceSupplier.address.building }}, {{ serviceSupplier.address.postalCode }} {{ serviceSupplier.address.city }}
            <br>
          {% endif %}
          {% if serviceSupplier.phone %}
            <a href="tel:{{ serviceSupplier.phone.formatted }}">{{ serviceSupplier.phone.formatted }}</a>
            <br>
          {% endif %}
          {% if serviceSupplier.email %}
            <a href="mailto:{{ serviceSupplier.email }}">{{ serviceSupplier.email }}</a>
          {% endif %}
        </address>
      </div>
      <div class="col-md-6">
        {% if serviceSupplier.avatar %}
          <img class="pull-right" src="{{ serviceSupplier.avatar.url }}" alt="{{ serviceSupplier.displayName }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>