<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>{{ t(_self, 'title') }}</p>
        <address>
          <strong>{{ repair.serviceSupplier.displayName }}</strong>
          </br>
          {% if repair.serviceSupplier.address %}
            {{ repair.serviceSupplier.address.street }} {{ repair.serviceSupplier.address.building }}, {{ repair.serviceSupplier.address.postalCode }} {{ repair.serviceSupplier.address.city }}
            <br>
          {% endif %}
          {% if repair.serviceSupplier.phone %}
            <a href="tel:{{ repair.serviceSupplier.phone.formatted }}">{{ repair.serviceSupplier.phone.formatted }}</a>
            <br>
          {% endif %}
          {% if repair.serviceSupplier.email %}
            <a href="mailto:{{ repair.serviceSupplier.email }}">{{ repair.serviceSupplier.email }}</a>
          {% endif %}
        </address>
      </div>
      <div class="col-md-6">
        {% if repair.serviceSupplier.avatar %}
          <img class="pull-right" src="{{ repair.serviceSupplier.avatar.url }}" alt="{{ repair.serviceSupplier.displayName }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>